body {
	margin:0;
	padding:0;
	background:#aaa;
	font-family:'Helvetica';
	}
a {
	text-decoration:none;
	color:#e99110;
}
p {
	padding:0;
	margin:0;
}

a:hover{
	text-decoration:underline;
}

#app {
	width:90%;
	margin:20px auto;
	background:#fff;
	border-radius:5px;
	padding:20px;
}

h1 {
	color:#ff0000;
	font-family:'Helvetica';
	font-size:35px;
	text-align:center;
}

.both {
	clear:both;
	height:0;
	}

#instagram {
	list-style:none;
}	
	
#instagram li img{
	width:30%;
	height:auto;
	float:left;
	border:10px solid #fff;
	-o-transition:all 0.3s;
	-webkit-transition:all 0.3s;
	-moz-transition:all 0.3s;
	transition:all 0.3s;
}

#instagram li img:hover{
	border:10px solid #ff0000;
}
	